<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Hey <%= @user.fname %>!</h1>
    <p>
      You are taking part in <%= @event.name %> on <%= @event.date %>. <br>
    </p>
    <p>
       You have been assigned your giftee, for whom you must buy a present. This person is <%= %>. <br>
       Check out their profile here: <%= @url %>
    </p>
    <p>Thanks for partaking and have a great day!</p>

</body>
</html>