<body class="content-wrapper">
	<div class="row profile-row">

		<div class="col-md-10">
			<div class="profile-large-box">

				<h1><center><%= @event.name %></center></h1>
				<br>
				<b>Date: </b><%= @event.date %>
				<br>
				<b>Location: </b><%= @event.location%>
				<br>
				<b>Last possible day to backout: </b><%= @event.deadline%>
				<br>
				<b>Host: </b><%= @host %>
				<br>
				<b>Maximum gift price: </b><%= @event.max_price%>
				<br>
				<b>Minimum gift price: </b><%= @event.min_price%>
				<br>
				<b>Participants:</b>
				<% @users.each do |user| %>
				<ul>
					<li><%= "#{user.username} #{user.fname} #{user.lname} #{user.email}" %></li>
				</ul>
				<% end %>
			</div>
		</div>

		<div class="col-md-2">
			<p><%= link_to "Edit this event", edit_event_path(@event.id), class: "btn btn-success event-btn animated flipInX" %></p>
			<p><%= link_to "Add a User to this event", "#event_add_users_lb", class: "btn btn-success event-btn animated flipInX fancybox" %></p>
			<p><%= link_to "Create a User for this event", "#event_create_users_lb", class: "btn btn-success event-btn animated flipInX fancybox" %></p>
			<p><%= link_to "Secret Santize This Event", "#event_santize_lb", class: "btn btn-success event-btn animated flipInX fancybox" %></p>			
		</div>
	</div>


	<!-- lightbox for adding existing system users -->
	<div style="display:none;">
		<div id="event_add_users_lb">
			<p>
				<%= form_tag add_existing_users_path(@event.id) do %> 
				<table id="addUsersTable" class="display">
					<thead>
						<tr>
							<th><%= submit_tag "Add" %></th>
							<th>Username</th>
							<th>First Name</th>
							<th>Last Name</th>
						</tr>
					</thead>
					<tbody>
						<% @allOptOutUsers.each do |user| %>
							<tr>
								<td><%= check_box_tag "user_ids[]", user.id %></td>
								<td><%= user.username %></td>
								<td><%= user.fname %></td>
								<td><%= user.lname %></td>
							</tr>
						<% end %>
					</tbody>
				</table>  
				<% end %>
			</p>
		</div>
	</div>
	<!-- lightbox for creating system users for the event -->
	<div style="display:none;">
		<div id="event_create_users_lb">
			<p>
			Add an email for each user you would like to create, separated by commas.
				<%= render 'lb_event_create_user' %>
			</p>
		</div>
	</div>

	<!-- lightbox for creating system users for the event -->
	<div style="display:none;">
		<div id="event_santize_lb">
			<p>
				Below are the gift assignments pertaining to this event.
				<% match_giver_to_giftee @event.id %>
				<%= render 'lb_event_show_gift_pairs' %>	
			</p>
		</div>
	</div>
	</body>
