<% if @event.errors.full_messages.any?%>
	<ul>
		<% @event.errors.full_messages.each do |error_message| %>
			<li> <%= error_message %> </li> <br>
		<% end %>
	</ul>
<% end %>

<%= form_for @event, url: @event do |f| %>
	<%= f.label :name, 'Name:' %>
	<%= f.text_field :name %>
	<br><br>
	<%= f.label :date, 'Date:' %>
	<%= f.datetime_select :date %>
	<br><br>
	<%= f.label :location, 'Location:' %>
	<%= f.text_field :location %>
	<br><br>
	<%= f.label :deadline, 'Participation deadline:' %>
	<%= f.datetime_select :deadline %>
	<br><br>
	<%= f.label :max_price, 'Maximum gift price:' %>
	<%= f.text_field :max_price %>
	<br><br>
	<%= f.label :min_price, 'Minimum gift price:' %>
	<%= f.text_field :min_price %>
	<br><br>
	<%= f.submit :'Add event' %>
<% end %>