<% if current_user.email == @host %>
	<%= render 'own_event' %>
<% else %>
	<%= render 'other_event' %>
<% end %>


<div class="container">
	<div class = "row">
		<div class="col-md-4">
			<p><%= link_to "Edit this event", edit_event_path(@event.id) %></p>
			<p><%= link_to "Add a User to this event", "#event_add_users_lb", class: "fancybox" %></p>
			<p><%= link_to "Create a User for this event", "#event_create_users_lb", class: "fancybox" %></p>
			<p><%= link_to "Secret Santize This Event", "#event_santize_lb", class: "fancybox" %></p>
		</div>
		<!-- lightbox for adding existing system users -->
		<div style="display:none;">
			<div id="event_add_users_lb">
				<p>
					A form with a search field as well as an scrollable, sortable alphabetical list of users, ideally sortable by any column.
					Each user should have a checkbox to add that user to the event.
					<%= form_tag add_existing_users_path(@event.id) do %> 
						<table>
							<tr>
								<th><%= submit_tag "Add" %></th>
								<th>Username</th>
								<th>First Name</th>
								<th>Last Name</th>
							</tr>
							<% @allOptOutUsers.each do |user| %>
								<tr>
									<td><%= check_box_tag "user_ids[]", user.id %></td>
									<td><%= user.username %></td>
									<td><%= user.fname %></td>
									<td><%= user.lname %></td>
								</tr>
							<% end %>
						</table>  
					<% end %>
				</p>
			</div>
		</div>
		<!-- lightbox for creating system users for the event -->
		<div style="display:none;">
			<div id="event_create_users_lb">
				<p>
					Duplicate of the Devise Add User form should be here!
					Plus an option create another user or dismiss the box
					<%= render 'lb_event_create_user' %>	
				</p>
			</div>
		</div>
		<!-- lightbox for creating system users for the event -->
		<div style="display:none;">
			<div id="event_santize_lb">
				<p>
					invoke the santa gift assignment, then show who gives to who
					<% match_giver_to_giftee @event.id %>
					<%= render 'lb_event_show_gift_pairs' %>	
				</p>
			</div>
		</div>

	</div>
</div>			
