<h1><%= @event.name %></h1>
<br>
<b>Date: </b><%= @event.date %>
<br>
<b>Location: </b><%= @event.location%>
<br>
<b>Last possible day to backout: </b><%= @event.deadline%>
<br>
<b>Host: </b><%= @host %>
<br>
<b>Maximum gift price: </b><%= @event.max_price%>
<br>
<b>Minimum gift price: </b><%= @event.min_price%>
<br>
<b>Participants:</b>